# secrets
secrets*.json
**/secrets*.json

# dev environment
.venv*
dist
build
code_crypt.egg-info

# code_crypt keys and secrets
code_crypt_data
**/code_crypt_data

# temp files
*.pyc
**/*.pyc
tmp
**/tmp
